/* Normalize & general style*/
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: #454545;
}

a {
    text-decoration: none;
    color: #2895F1;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.btn {
    background-color: #4285f4;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: .5em;
    font-weight: bold;
    color: white;
    margin: .5em 0;
}

.error {
    color: red;
}

/* Welcome image and login form */

.main-wrapper {
    width: 80%; 
    margin: 0 auto;
    max-width: 61em;
    min-width: 18em;
}

.login-wrapper {
    width: 49em; /* 784px/16px */
    margin: 5em auto;
    display: flex;
}

.main-col {
    flex: 1;
    padding: 0 2em;
}

.welcome-img img {
    max-width: 100%;
    max-height: 100%;
}

.form-wrapper {
    width: 100%;
}

#messageBox {
    display: none;
}

.my-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.google-btn button {
    width: 100%;
}

/* Login Form */

#cbox {
    margin-left: 0;
}

.text-input {
    width: 100%;
    padding: .5em;
    border-radius: 4px;
    border: 1px solid #bdc4c9;
}

.or-hr {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.or-hr::before,
.or-hr::after {
    content: '';
    background-color: rgba(0,0,0,0.2);
    height: 1px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.or-hr::before {
    right: 0.25em;
    margin-left: -50%;
}

.or-hr::after {
    left: 0.25em;
    margin-right: -50%;
}

/* Product List */

.center-align {
    text-align: center;
}

.role1:after {
    content: "Admin";
    color: #fff;
    font-size: 10px;
    background-color: firebrick;
    padding: 3px 6px;
    margin-left: 5px;
    border-radius: 3px;
}

.role2:after {
    content: "Leader";
    color: #fff;
    font-size: 10px;
    background-color: cornflowerblue;
    padding: 3px 6px;
    margin-left: 5px;
    border-radius: 3px;
}

.role3:after {
    content: "Member";
    color: #fff;
    font-size: 10px;
    background-color: gray;
    padding: 3px 6px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.action a+a {
    padding-left: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

/* Group Detail */

.user-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e008";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-top: 4px;
    margin-right: 4px;
    color: #CCCCCC;
}

@media (max-width: 61em) {
    .login-wrapper {
        width: 25em;
    }
    .welcome-img {
        display: none;
    }
}

@media (max-width: 31em) {
    .login-wrapper {
        width: 100%;
    }
    .submit {
        flex-direction: column;
    }
}